body, .ls-block, .inline {
  font-variant-ligatures: common-ligatures;
}

:root {
  --cl-page-width: 800px;
  --cl-page-max-width: 1000px;
  --cl-font-family: "Euclid Circular A";
  --cl-font-family: "Consolas";
  --cl-font-family: "SF Pro Text";
  --cl-font-family: "Segoe UI";
  --cl-font-family: "SF Pro Text";
  --ls-scrollbar-width: 0px;
}

.block-properties .page-property-value .page-ref {
  color: var(--cl-color-1-100) !important;
}
.ls-block :is(h1,h2,h3,h4,h5,h6) {
  border-bottom: 1px solid var(--cl-text-color-60);
}
.block-properties img {
  max-width: 300px;
}
.pre-block .bullet-container {
  display: none;
}