body, .ls-block, .inline {
  font-variant-ligatures: common-ligatures;
  font-weight: 400;
  font-size: 15px;
}
:root {
  --cl-page-width: 700px;
  --cl-page-max-width: 1000px;
  --cl-font-family: "Euclid Circular A";
  --cl-font-family: "Consolas";
  --cl-font-family: "SF Pro Text";
  --cl-font-family: "Segoe UI";
  --cl-font-family: Inter;
  --ls-scrollbar-width: 0px;
}
